<div class="container">
    <div class="row">
        <h1>Object Detection</h1>
    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>Making a Difference: Understanding the Recyclability of Everyday Items</h3>
            </div>
            <p>Recycling plays a vital role in environmental conservation by reducing waste and conserving resources. It's important for each of us to identify which everyday items are recyclable. This not only involves separating trash but also understanding the materials we use daily. Items like paper, cardboard, certain plastics, and metals are often recyclable, but it's essential to be aware of the specific recycling guidelines in our area. Engaging in proper recycling practices is a simple yet impactful way to contribute to sustainability and protect our planet. Let's make a conscious effort to determine the recyclability of our items, making a difference one piece at a time.</p>
        </div>
    </div>

    <div class="size-12">
        <div class="card-container detection">
            <video #video width="640" height="480" autoplay muted></video>
            <canvas #canvas width="640" height="480"></canvas>
        </div>
    </div>
</div>
