<div class="container">
    <div class="row">
        <h1>Locations</h1>
    </div>
    <div class="size-12">
        <div class="card-container">
            <app-map></app-map>
        </div>
    </div>

    <div class="row">
        <div class="size-5">
            <div class="card-container">
                <div class="card-header">
                    <h3>Recycling Gate Locations</h3>
                </div>
                <p>
                    <b>Recycling Gate Istanbul:<br></b> 1234 Recycling Gate, Istanbul, Turkey<br>
                    <b>Recycling Gate Ankara:<br></b> 1234 Recycling Gate, Ankara, Turkey<br>
                    <b>Recycling Gate Izmir:<br></b> 1234 Recycling Gate, Izmir, Turkey<br>
                    <b>Recycling Gate Bursa:<br></b> 1234 Recycling Gate, Bursa, Turkey<br>
                </p>
            </div>
        </div>
        <div class="size-7">
            <div class="card-container">
                <div class="card-header">
                    <h3>Information</h3>
                </div>
                <p>You can send your recyclings to our centers free of charge by sending you the route our vehicles pass
                    at the beginning of each month, according to the communication form you fill out.</p><br>
                <p>If you want to bring your own, you can reach them by looking at their locations. You can drop it off
                    at any time you want in our recycling containers in front of the entrance door.</p>
            </div>
        </div>
    </div>
</div>