<div class="container">

    <h1>Home</h1>

    <div class="row">
        <div class="size-7">
            <div class="card-container">
                <div class="card-header">
                    <h3>Introduction</h3>
                    <a href="/about-us">More details ></a>
                </div>
                <p>
                    Welcome to Recycling Gate, where environmental responsibility meets technological
                    innovation! Our platform is a dedicated space for conscientious individuals like you to make a
                    positive impact on the planet by recycling and repurposing recyclable waste in your
                    home.
                </p>
            </div>
        </div>

        <div class="size-5">
            <div class="card-container">
                <div class="card-header">
                    <h3>Our Mission</h3>
                    <a href="/about-us">More details ></a>
                </div>
                <p>
                    Our mission is to provide a convenient and efficient way for you to recycle recyclable waste in your
                    home. We aim to reduce the amount of waste that ends up in landfills.
                </p>
            </div>
        </div>
    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>What is Sustainability?</h3>
            </div>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/zx04Kl8y4dE?si=KchFrI6FKJtimpZT" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>What is Recycling?</h3>
            </div>

            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/IsAg-JqJnA8?si=VhTbfLVF9gKz956Z&amp;start=6"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>