<div class="container">

    <h1>About us</h1>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>Introduction</h3>
            </div>
            <p>
                Welcome to Recycling Gate, your portal to a greener, more sustainable lifestyle! At Recycling Gate, we
                invite you to transform the way you manage recyclable waste at home, addressing the impact of unused
                books and electronic waste on our environment.
                <br><br>
                In a world increasingly concerned about environmental challenges, we recognize the pressing need to
                address the accumulation of recyclable items, including often overlooked contributors like unused books
                and electronic devices.
                <br><br>

                As you explore Recycling Gate, you'll discover user-friendly features designed to simplify the process
                of donating, recycling, and repurposing. From unused books to electronic waste, every item holds the
                potential to be part of a positive environmental change.
                <br><br>

                Join us in the pursuit of a more sustainable future, where every recyclable item in your home becomes an
                opportunity to make a difference. Welcome to Recycling Gate – where your choices reshape the narrative
                of waste and create a more sustainable tomorrow.
            </p>
        </div>
    </div>

    <div class="size-12">
        <div class="card-container">
            <div class="card-header">
                <h3>Our Mission</h3>
            </div>
            <p>
                Recycling Gate isn't just a platform; it's a movement towards responsible living. Our mission is fueled
                by the commitment to reduce waste and promote sustainability, starting right from your home. Rather than
                letting unused books gather dust on shelves or old electronic devices clutter drawers, consider these
                items as valuable recyclable resources waiting for a second life.
                <br><br>

                Incorporating these recyclable items into your sustainable lifestyle not only declutters your home but
                also significantly contributes to environmental preservation. Imagine your old books finding new readers
                and your outdated electronics being repurposed into something useful. It's a small step for you, but a
                giant leap towards a cleaner, greener planet.
            </p>
        </div>
    </div>
</div>